#table-section {
    float: left;
    margin-left: 10rem;
}

#days {
    list-style: none;
    margin: 0.5rem 0;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(7, 6rem);
    justify-content: center;
    gap: 0.5rem;
}

#days li {
    background-color: rgba(129, 125, 135, 0.3);
    border-radius: 2px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.5rem;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.55);
}

#table {
    list-style: none;
    margin: 0 0;
    padding: 0 0 0 0;
    display: grid;
    grid-template-columns: repeat(7, 6rem);
    grid-template-rows: repeat(6, 6rem);
    justify-content: center;
    gap: 0.5rem;
}

#table li {
    background-color: rgb(193, 187, 247);
    border-radius: 2px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.5rem;
    font-weight: bold;
}

#table li:hover {
    background-color: #469a7c;
    border-radius: 25px;
}

body {
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#container {
    display: flex;
    justify-content: space-between;
}

#people-section {
    justify-content: center;
    margin-right: 15rem;
    margin-left: 3rem;
}

.people-list {
    list-style: none;
    text-align: center;
    padding: 0 10rem;
}

.people-list li {
    margin-bottom: 3rem;
}

div img {
    border-radius: 50%;
    width: 150px;
}

.h1 {
    font-size: 1.5rem;
}

h2 {
    margin: 0;
}

p {
    margin: 0 0 0 0;
    color: #873920;
    font-weight: bold;
    font-size: 1.5rem;
}

#h1-and-arrows {
    display: flex;
    justify-content: space-between;
}

#arrows {
    margin-top: 1.8rem;
}

#schedule-date {
    text-align: center;
}